@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --background: #f1f5f9;
    --primary: #7e62f3;
    --primary-light: #d9d6f9;
    --gray: #3f3d56;
    --shadow-color: #d9d6f9;
    --border-color: #c3b5ff;
    --panel-color: #fefcfb;
    --footer-color: #d6d6e3;
    --footer-text: #4b5563;
    --mini-shadow-color: #c3b5ff;
    --toogle-color: #021e3d;
    --toogle-bg: #2c2c2c;
    --toogle-bg: #fefcfb;
}

.dark {
    --background: #141414;
    --primary: #7e62f3;
    --primary-light: #101010;
    --gray: #f1f1f1;
    --shadow-color: #7e62f3;
    --border-color: #7e62f3;
    --panel-color: #27272a;
    --card-text: #adadad;
    --mini-shadow-color: #fefcfb;
    --footer-color: #0f0f0f;
    --footer-text: #9ca3af;

    --toogle-color: #e69335;
    --toogle-bg: #2c2c2c;
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.playfair-display {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
}

.source-sans-3 {
    font-family: 'Source Sans 3', sans-serif;
    font-optical-sizing: auto;
}
